$size10: 10px;
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size22: 22px;
$size24: 24px;
$size34: 34px;
$size36: 36px;
$colorWhite: #fff;
$colorBlack: #202020;
$colorOrg: #ff6e30; 
$colorOrgTuscany: #bc572b;
$colorOrgGrenadier: #ce4307;
$colorSienna: #f06666;
$colorRomantic: #ffd4c1;
$colorRedOrange: #ff3030;
$colorGryMercury: #e9e9e9;
$colorGryTundora: #4a4a4a;
$colorGrySilver: #cacaca;
$colorGrySilverB: #bcbcbc;
$colorGryShaft: #333333;
$colorGryDusty: #999999;
$colorGryDove: #666666;
